

body, html { overflow-x:hidden; }

.about-us {
    text-align: justify;
    font-size: 14px;
    font-weight: 700;
}

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;

	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }
p{
    text-align:center;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:double;
    
}

.carousel-caption {
    top: 0;
    bottom: auto;
}
.zb_clear {
	clear: both;
}


.zb-top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}

.zb-top-menu {
   /* min-height:110px;*/
    background-color:#ffffff;
    z-index: 5000;
    width:100%;
}

.zb-top-menu .navbar-toggle {
    margin-top: 38px;
}

.zb-top-menu .navbar-brand {
    padding: 0;
    margin: 30px 0 0 0;
}


hr.newline5 {
    border: 5px solid rgb(252, 4, 99);
    border-radius: 1px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;  
}

/* style for flipping card starts here */

.flipping-cards{
    margin-top: -3rem;
    padding: 2rem 0;
    font-family: 'Rubik', sans-serif;
}

.flipping-card-wrapper{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.flipping-card-item-wrapper{
    perspective: 150rem;
    position: relative;
    width:   320px;
    height:  320px;
    margin: 1rem;
}

.flipping-card-item-side{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    margin:  1.5rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #ffffff;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.18);
    transition: all 1s;
}


.flipping-card-item-side-back{
    color: #000;
    transform: rotateY(180deg);
}


.flipping-card-item-wrapper:hover .flipping-card-item-side-front{
    transform: rotateY(-180deg);
}

.flipping-card-item-wrapper:hover .flipping-card-item-side-back{
    transform: rotateY(0);
}

.flipping-card-item-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: color;
}

.flipping-card-back-wrapper{
    font-weight: 200;
    position: relative;
    top: 25%;
    left: 0;
    margin: 2rem;
    text-align: center;
}

.flipping-card-back-wrapper__btn {
    margin-top: 2rem;
    padding: .7rem;
    text-align: center;
    color: #ffffff;
    border: 0;
    background-image: linear-gradient(to right bottom, #ff1bf4, #fd0665);
    transition: all .5s;
}

.flipping-card-back-wrapper__btn:hover {
    background-image: none;
    color: #ffa41b;
    border: 1px solid #ffa41b;
}

.copyright{
    font-size: 11px;
    color: #ffffff;
    text-align: center;
}




/* ------ Welcome & Slogan ------ */
.zb-welcome {
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.zb-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
    color: #333333;
}

.zb-service {
    margin-bottom: 100px;
    margin-top: 100px;
}

.zb-service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}


.zb-service-item p {
    font-weight: lighter;
    text-align: justify;
    margin-top: 25px;
    font-size: 14px;
    color: #929292;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 13px;
    color: #080808;
}




.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #CC2340;
    color:#ffffff;
}


.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color:#ffffff;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #fd096f;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ff0095;
    color:#fff;
}


.nav > li > a {
    color: #929292;
}
.navbar-default {
    background-color:#fff;
    border:none;
}


.navbar {
    margin-bottom: 0px;
}

.zb-service-item-header {
    margin-left: -10px;
    padding: 16px 20px 20px;
    font-weight: bold;
    display: inline-block;
}

.zb-header-orange {
    background-color:#ff008c;
    min-width: 298px;
    height: 67px;
    color: #fff;

}

.team_hr {
    border: 1px solid #fff;
    width: 39.5%;
    float: left;
}

.team_hr_left {
    margin-right: 30px;
    margin-left: 15px;
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {
    border: 1px solid #cccccc;
}

.zb-team {
    background: url('../images/background.png') ;
    font-family:  'Open Sans', sans-serif;
    min-height:590px;
    color:#ffffff;

}
.zb-line-header {
    /*margin-top:100px;*/
    margin-bottom:80px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.thumb-overlay a {
    float:left;
    margin-right: 5px;
}



.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
    margin-left:-50px;
    margin-top:70px;
}

.row_team li {
    list-style: none;
}

.zb-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    width: 200px;
}

.zb-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #CC243E;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;

}

.zb-project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #CC223F;
}

.txt_slogan {
    font-size:14px;
    color:#929292;
}

.zb-line-header span {
    font-size: 24px;
    float :left;
    margin-top: 10px;
}

.team_box  div {
    text-align: center;
    padding-top: 100px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #333333;
    padding: 10px;
}

.blog_header {
    font-weight: bold;
    font-size: 16px;
}

.blog_text {
    text-align: justify;
    font-size: 14px;
    margin-top: 20px;
}

#zb-contact {
	/*margin-top:100px;*/
	border-top: 1px solid #cccccc;
	font-size:14px;
}
.zb-contact-map {
    margin-bottom: 15px;
    height: 378px;

}

.head_contact {
    padding-bottom:80px;
    margin-bottom:0;
}

.contact_right img {
	margin-right:5px;
}

.contact_right form {
	padding-left:15px;
	padding-right:15px
}

.tweet_txt {
	border-left:2px solid #ffffff;
	min-height:160px;
}

.twitter_user {
	color: #FFFF33;
	font-size: 14px;
	float: right;
}

.zb-partners {
	border-top: 2px solid #cccccc;
}

.zb-partners .zb-partner-item {
    margin-bottom: 5px;
}



.social-icon-fb {
    background: url('../images/social-icon-fb.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-fb {
    background: url('../images/social-icon-fb-over.png') no-repeat;
}

.social-icon-rss {
    background: url('../images/social-icon-rss.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-rss {
    background: url('../images/social-icon-rss-over.png') no-repeat;
}

.social-icon-twitter {
    background: url('../images/social-icon-twitter.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-twitter {
    background: url('../images/social-icon-twitter-over.png') no-repeat;
}

.social-icon-linkedin {
    background: url('../images/social-icon-linkedin.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-linkedin {
    background: url('../images/social-icon-linkedin-over.png') no-repeat;
}

.social-icon-dribbble {
    background: url('../images/social-icon-dribbble.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-dribbble {
    background: url('../images/social-icon-dribbble-over.png') no-repeat;
}

ul.zb-project-gallery  li  a img:hover {
    border: 3px solid #ff7600;
}

.zb-gallery-category a {
	color:#333333;
}


.link_orange:hover {
    text-decoration:none;
}
.zb-project-gallery {
    margin:0 0 0 0;
    margin-top:30px;
    margin-left: -40px;
}
.zb-project-gallery li {
    list-style:none;
    margin-bottom:25px;
}
.zb-project-gallery li img {
  cursor: pointer;
}

.zb-tweets {
    background-color: #8996a0;
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px;
	margin-bottom:80px;
}

.blog_box {
	margin-left: -12px;
}

@media (min-width:991px) and (max-width:1200px) {
    .zb-project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .zb-project-gallery {
        margin-left: -70px;
    }

    .zb-service-item-header {
        padding: 16px 10px 20px;
    }

    .zb-header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }

}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .zb-btn-read-more {
        float:right;
        margin-bottom :40px;
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .zb-project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .zb-project-gallery {
       margin-left: 10px;
    }

    .blog_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;

    }
    .zb-btn-read-more {
            float:right;
            margin-bottom :40px;
      }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 30%;

    }
	.zb-service-item-header {
		font-size: 16px;

		padding: 23px 10px 22px;
	}
	.zb-header-orange {
		min-width: 0px;
	}

}

@media (min-width:991px) and (max-width: 1200px) {
	 .team_hr {
		width: 37%;
	}
}

@media (min-width:683px) and ( max-width: 991px) {
	 .team_hr {
		width: 33%;
	}
}

@media (min-width:585px) and ( max-width: 683px) {
        .member-thumb .thumb-overlay {
            padding-left: 25%;

        }
	 .team_hr {
		width: 30%;
	}
}

@media (min-width:536px) and ( max-width: 585px) {
	 .team_hr {
		width: 28%;
	}
}

@media  (min-width:410px) and  ( max-width: 536px) {
	 .team_hr {
		width: 21%;
	}
}

@media  ( max-width: 410px) {
	 .team_hr {
		width: 11%;
	}
}


.footer {
background: #35322d;
font-size: 14px;
text-align: center;
padding: 30px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.new_footer_top{
  background-color: #929292;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer_main {
    padding: 0px 0px 50px 0px;
  }
}

.footer-right p,
.footer_middle p {
  font-family: montserrat;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

ul.footer_list {
  list-style: none;
  padding-left: 0px;
}
ul.footer_list li {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
  font-weight: 500;
}

ul.footer_list li.phone {
  font-size: 22px;
    color: rgba(0, 0, 0, 1);
}

ul.footer_list li a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-transform: none;
}
ul.footer_list a:hover {
  color: rgba(54, 204, 142, 1);
  text-decoration: none;
  list-style: none;
}

.footer_middle h4, .footer-right h4 {
  font-family: montserrat;
  font-size: 24px;
}


.footer_middle {
  text-align: center;
  padding: 0;
}

.footer-right h4, .footer-left h4 {
  font-family: montserrat;
  font-size: 18px;
  margin-bottom: 10px;
}

#hero-cta-email {
  height: 50px;
  width: 60%;
}


.footer_trust_top {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.footer_trust_top p {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
}

  .footer-left {
    padding-left: 0px;
    justify-content: flex-start;
  }
  .footer-right {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

.footer_main {
  margin: 20px 0px 20px 0px;
}


.footer_copyright p {
  font-size: 12px;
  color: rgb(0,0,0,0.5);
padding-top: 20px;
}

.footer__partners img {
  float: right;
  margin: 10px auto;
  max-width: 100%;
}

.footermain{
  background-color: #929292;
}

.ccontainer{
  background-color: #e7e7e7;
}

.fa {
  padding: 0px;
  font-size: 25px;
  width: 40px;
}
